:root {
    --primary-color: #2b2d42;
    --secondary-color: #6c757d;
    --primary-color-dark: #1c1d29;
    --primary-color-light: #3c3f5c;
    --color-white: #fff;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --font-size: 16px;
}